{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="{% url 'main' %}">Remember<span>That</span></a>

            <nav>
                <ul class="primary-nav">
                    <li><a href="{% url 'main' %}">Home</a></li>
                </ul>

                <ul class="secondary-nav">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile' %}">{{user.username}}</a></li>
                    <li>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="logout" value="1">
                            <input type="submit" value="Log out">
                        </form>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>