{% load static %}

{% include 'accounts/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %}">
    <title>Home page</title>
{% endblock %}


{% block body %}
    <section class="products">
        <div class="container">

            {% for product in products %}
            <div class="product">
                <h2><a href="{% url 'products' product.id %}">{{product.name}}</a></h2>
                <h3>Author: {{product.author.user.username}}</h3>
                <div class="description">
                    <p>{{product.description}}</p>
                </div>
            </div>
            {% endfor %}

            <div class="product add">
                <a href="{% url 'add_product' %}">+</a>
            </div>

        </div>
    </section>
{% endblock %}