{% load static %}

{% include 'accounts/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/products.css' %}">
    <title>{{product.name}}</title>
{% endblock %}
{% block body %}
    <div class="product-block product-head">
        <div class="container">
            <div class="product_info">
                <h2 id="product_name"></h2>
                <h3 id="product_author">Author: </h3>
            </div>

            <!--
            {% if product.author.id == user.account.id %}
            <div class="product-control">
                <form class="delete" action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="delete_product", value="{{product.id}}">
                    <input type="submit" value="Delete">
                </form>
                <a href="{% url 'update_product' product.id %}" class="update">Update</a>
            </div>
            {% endif %}
            -->
        </div>
    </div>

    <div class="product-block product-desc">
        <div class="container">
            <div class="description">
                <p id="product_description"></p>
            </div>
        </div>
    </div>

    <div class="comments">
        <div class="container">
            <div class="comments-head">
                <h2>Comments</h2>
            </div>
            <!--
            {% for comment in comments %}
                <div class="comments-desc">
                    <div class="desc-info">
                        <h3>{{comment.account.user.username}}</h3>
                        <p>{{comment.comment}}</p>
                    </div>
                    {% if comment.account.id == user.account.id %}
                    <div class="desc-control">
                        <form class="delete" action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_comment", value="{{comment.id}}">
                            <input type="submit" value="Delete">
                        </form>
                        <a href="{% url 'update_product_comment' product.id comment.id %}" class="update">Update</a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            -->

            <script type="text/html" id="comment_template">
                <div class="comments-desc" id="comment{comment_id}">
                    <div class="desc-info">
                        <h3>{comment_username}</h3>
                        <p>{comment_desc}</p>
                    </div>
                </div>
            </script>

            <script type="text/html" id="comment_control_template">
                <div class="desc-control">
                    <form class="delete">
                        <input type="button" value="Delete" onclick="deleteComment({comment_id})">
                    </form>
                    <a href="update/{comment_id}" class="update">Update</a>
                </div>
            </script>

            <form class="comment" id="insert_comments">
                {% csrf_token %}
                {{comment_form}}
                <input type="button" value="Comment" onclick="createComment1()">
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'accounts/js/products.js' %}"></script>
{% endblock %}