//Global
body {
    background: #bebebe;
    margin: 0;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

form {
    padding: 1.5em;
    border-radius: 2em;
    background: #d4d4d4;
    width: 25%;
    justify-items: center;

    input[type="text"], [type="password"], [type="submit"] {
        display: block;
        margin: .2em auto;
    }
}

.center-block {
    form {
        margin: 30vh auto 30vh auto;
    }
}


//Navbar
.navbar {
    background: #d4d4d4;

    .container {
        display: flex;
    }

    .logo {
        background: #c8c8c8;
        height: 100%;
        padding: 1em;
        color: black;
        font-weight: bold;

        span {
            color: blue;
        }
    }

    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            margin: 0;
            padding: 0 1em;
            display: flex;
            list-style: none;

            li {
                margin: 0;
                padding: 0 .3em;

                a {
                    color: black;
                }

                &:hover {
                    font-weight: bold;
                }

                form {
                    margin: 0;
                    padding: 0;

                    input {
                        background: unset;
                        border: unset;
                        color: black;
                        margin: 0;
                        padding: 0;
                        font-size: unset;
                        font-family: unset;
                        font-weight: unset;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}