//Products
.products {
    background: #bebebe;
    padding: 1em 7em 7em 12em;
    height: 100vh;

    .container {
        padding-bottom: 5em;
    }

    .product {
        background: #e7e7e7;
        margin-top: 5em;
        border-radius: 2em;
        padding: 1.5em;
        
        h2 {
            margin: 0 0 0.2em 0;

            &:hover {
                cursor: pointer;
            }
        }

        h3 {
            margin: 0 0 1.2em 0
        }

        p {
            white-space: pre-wrap;
        }
    }

    .add {
        margin-top: 5rem;
        color: blue;
        cursor: pointer;
        font-size: 2em;
        text-align: center;
        font-weight: bolder;
    }
}